.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;

  padding: 65px 48px;
  box-sizing: border-box;
  width: 320px;
  background: var(--gradi-primary);
  height: 100vh;
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  width: 224px;
}

.logo {
  width: 200px;
  height: 62px;
  cursor: pointer;
}
