.app {
  display: flex;
  background-color: var(--gradi-primary);
}

.tokens {
  width: calc(100vh - 320px);
  padding: 32px;
  background-color: #F7F7FB;
}

.token {
  width: 100%;
  padding: 24px;
  border-radius: 8px;
  background-color: #fff;
  margin-bottom: 8px;
}
